   <table id="timesTable" class="table table-hover" value="{{ tableId }}">
       <input hidden id="dayValueFromCalendar" value="{{ data }}">
        <tr>
            <th>TIME</th>
            <th>action </th>
        </tr>
        {% for record in time %}
            <tr style="font-size: x-large; padding: 0px">
                <td > {{ record['begin'] }} : {{ record['end'] }}</td>
                <td value="{{ record['begin'] }}"> <input type="radio" name="timeListValue" value="{{ record['end'] }}"> </td>
            </tr>
        {% endfor %}
    </table>
    <script src="{{ asset('bundles/pitakskicker/js/timeList.js') }}"></script>