<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" >
            {{ user.getUsername() }}
        </h2>
    </div>
    <div class="panel-body" style="color:#000000">
        <div class="row">
            <div class="userImageKeaper col-xs-6 col-sm-12  ">
        {%  if( user.image) %}
            <img class="img-responsive profileIMG" src="{{ asset( user.image.getImageAddress() )  }}">
        {% else %}
            <img class="img-responsive profileIMG" src="{{ asset('images/anonymous.png') }}">
        {% endif %}
                </div>
                <div class="profileMeniu col-xs-6 col-sm-12  ">
        <p> Name: {{ user.name }}</p>
        <p> Last Name: {{ user.lastName }}</p>
        <p> Email : {{ user.email }}</p>
        <p> Card Id: {{ user.cardId }}</p>
        {% for team in user.teams %}
            {% if team.confirmed %}
                <p> {{  team.name }}</p>
            {% endif  %}
        {% endfor %}
                    </div></div>  <div class="row">
            <div class="rankView" >
                <h4> Rank: {% if user.rank %} {{ user.rank.name }} {% else %} not ranked {% endif %} </h4>
                <td>
                    <a class="btn btn-success" value="{{ user.username }}" name="users" href="{{ path('userChallengeMain', {'username': user.username }) }}">challenge</a>
                    <a class="btn btn-success" value="{{ user.username }}" name="users" href="{{ path('createTeam', {'userId': user.id }) }}">Create a team</a>
                </td>
            </div>
        </div></div></div>



