{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" >
               {{ user.username }}
            </h2>
        </div>
        <div class="panel-body" style="color:#000000">
            <p> NEWS:   {{ render(controller('UserBundle:UserCounts:userNewReservationCount')) }}</p>

            <p> Name: {{ user.name }}</p>
            <p> Last Name: {{ user.lastName }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <p> Card Id: {{ user.cardId }}</p>
            <a href="#">edit</a>
        </div>
    </div>


</div>
