{% extends "::base.html.twig" %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}
<div id="main" class="row">

    <div class="myPanel col-sm-offset-1 col-sm-10" >
        <div class="row">
            <div class="myPanelHeader col-sm-4 col-sm-offset-8">
                <span class="glyphicon glyphicon-list"></span> Pagrindinis
            </div>
        </div><aside id="topbar" class=" col-sm-10">
            Search/filter & login form will be here
        </aside>
        <div class="row">
            <div class="myPanelArea">
                <div class="myPanelAreaLeft col-sm-6">
                    <div class="tableList">
                        <div class="row">
                            {% for table in tables %}
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="status"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ table.name }}
                                    </div>
                                    <div class="col-sm-2">
                                        <div id="result" class="scoreSmall">
                                            5 : 0
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class=" tableRate btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" value="{{ table.id }}">Rate</button>
                                    </div>
                                    <div class="col-xs-2" value="{{ table.id }}">
                                        <button type="button" value="{{ table.id }}" class=" rezervation btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Rezervation
                                        </button>
                                        <div id="refreshInfo">
                                        </div>
                                    </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="myPanelAreaLeft col-sm-offset-2 col-sm-4">
                    <header>
                        <h2>Rezultatas</h2>
                    </header>

                    <h2>
                        <strong>5 : 2</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rezervation</h4>
                </div>
                <div class="modal-body">
                    <section id="registarcija" style="min-height: 300px">

                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

             <!-- ratingo uzkrovimas-->
                <div id="ratingArea">
                </div>

            </div>
        </div>
    </div>
</div>
    <script>
        $('.tableRate').click(function(){
                    var tableId =$(this).val();
                    alert(tableId);
                    $.ajax({
                        url:  "{{path('tableRateModal')}}",
                        type: "post",
                        data: ({tableId: tableId}),
                        success: function(data){
                            alert("succes");
                            $("#ratingArea").html("");
                            $("#ratingArea").html(data);
                        },
                        error:function(){
                            alert("failure");
                            $("#ratingArea").html('There is error while submit');
                        }
                    });
                }
        );
        $("#save").prop("disabled",true);
        $('.rezervation').click(function(){
                    alert($(this).val());
                    $.ajax({
                        url:  "{{path('viewRes')}}",
                        type: "post",
                        data: ({ tableId: $(this).val()}),
                        success: function(data){
                            $("#registarcija").html(data);
                        },
                        error:function(){
                            alert("failure");
                            $("#registracija").html('There is error while submit');
                        }
                    });
                }
        );
        $(document).ready(function(){
           refreshTable();
        });

        function refreshTable(){
            $('#refreshInfo').load('{{ path('isTableFree',{'tableId': 1}) }}', function(){
                setTimeout(refreshTable, 1000);
            });
        }
    </script>
{% endblock %}
