{% extends "::base.html.twig" %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}
<style>

</style>
<div class="container-fluid">
        <div class="row">
            <div id="back">
                <div id="slides">
                {% for table in tables %}
                <div id="mainBar" class="container-fluid">
                    <div class="row">
                        <div class=" col-sm-4">
                            <div class="tableName">
                                {{ table.name }}
                            </div>
                            <div class=" row table-buttons">
                                <button type="button" class=" calendarClick btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" value="{{ table.id }}">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                                <a href="{{ path('tableGames', {'tableId': table.id}) }}" class=" btn btn-primary">
                                    Games
                                </a>
                                {% if app.user %}
                                    <button type="button" class=" tableRate btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" value="{{ table.id }}">
                                        <span class=" glyphicon glyphicon-signal"></span>
                                    </button>
                                    <button type="button" value="{{ table.id }}" class=" rezervation btn btn-primary " data-toggle="modal" data-target="#myModal">
                                        Reservation
                                    </button>
                                    <a href="{{ path('pitaks_comments_index', {'id': table.id}) }}" class="btn btn-primary">
                                        Comments
                                    </a>
                                {% endif %}
                            </div>
                            <div id="table-score" class="col-sm-12">
                                <div class="table-score-name">TOP 5</div>
                                <div id ="topScored">
                                    {{ render(controller('pitaksKickerBundle:Table:bestPlayersForTable', {'tableId':table.Id})) }}
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6 ">
                        <div class="refreshInfo"></div>
                    </div>
                </div>
            </div>
                {% endfor %}
                    </div>
                </div>
    </div>
    {# Rss feeds#}
        <div class="row">
            {#news panel#}
            <div class="panel panel-default col-sm-6">
                <div class="panel-heading">
                    <h3 class="panel-title">Foosball news</h3>
                </div>
                <div class="panel-body">
                    {{ include('pitaksRSSFeedBundle:feedEntries:feedsEntriesList.html.twig') }}
                </div>
            </div>
        </div>

    <!-- Modal -->
    <div class="modal fade myModalBIG" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reservation</h4>
                </div>
                <div class="modal-body">
                    <section id="registarcija" style="min-height: 300px">
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-success">Save Reservation</button>
                </div>
            </div>
        </div>
    </div>

    <div class="myModalBIG  modal fade bs-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="ratingArea">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="myModalBIG  modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <div class="row">
                    <div id="reservationsListArea">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <script src="{{ asset('bundles/user/js/AlertModal.js') }}"></script>
    <script>
         $('.calendarClick').click(function(){
             var tableId= $(this).attr('value');
             $.ajax({
                 url:  Routing.generate('tableEveryDayReservations', { 'tableId': tableId}),
                 type: "post",
                 success: function(data){
                     $("#reservationsListArea").html("");
                     $("#reservationsListArea").html(data);
                 },
                 error:function(){
                     $("#reservationsListArea").html('There is error while submit');
                 }
             });
         });

        $('.tableRate').click(function(){
                    var tableId =$(this).val();
                    $.ajax({
                        url:  "{{path('tableRateModal')}}",
                        type: "post",
                        data: ({tableId: tableId}),
                        success: function(data){
                            $("#ratingArea").html("");
                            $("#ratingArea").html(data);
                        },
                        error:function(){
                            $("#ratingArea").html('There is error while submit');
                        }
                    });
                }
        );
        $("#save").prop("disabled",true);
        $('.rezervation').click(function(){
                    $.ajax({
                        url:  "{{path('viewRes')}}",
                        type: "post",
                        data: ({ tableId: $(this).val()}),
                        success: function(data){
                            $("#registarcija").html(data);
                        },
                        error:function(){
                            $("#registracija").html('There is error while submit');
                        }
                    });
                }
        );
       $(document).ready(function(){
           refreshTable();
        });

        function refreshTable(){
            $('.refreshInfo').load('{{  path('tableResult',{'tableId': 1}) }}', function(){
                setTimeout(refreshTable, 1000000);
            });
        }
    </script>
{% endblock %}
