{% extends "::base.html.twig" %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}
<div id="main" class="row">

    <div class="myPanel col-sm-offset-1 col-sm-10" >
        <div class="row">
            <div class="myPanelHeader col-sm-4 col-sm-offset-8">
                <span class="glyphicon glyphicon-list"></span> Pagrindinis
            </div>
        </div>
        <div class="row">
            <div class="myPanelArea">
                <div class="myPanelAreaLeft col-sm-6">
                    <div class="tableList">
                        <div class="row">
                            {% for table in tables %}
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="status"></div>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ table.name }}
                                    </div>
                                    <div class="col-sm-2">
                                        <div id="result" class="scoreSmall">
                                            5 : 0
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <button type="button" class=" calendarClick btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" value="{{ table.id }}">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </button>

                                    </div>
                                    <div class="col-sm-2">
                                        {% if app.user %}
                                            <button type="button" class=" tableRate btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" value="{{ table.id }}">Rate</button>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-2" value="{{ table.id }}">
                                        {% if app.user %}
                                            <button type="button" value="{{ table.id }}" class=" rezervation btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                Reservation
                                            </button>
                                            <button type="button" value="{{ table.id }}" class=" rezervation btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                Comment
                                            </button>
                                        {% endif %}
                                    </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="myPanelAreaLeft col-sm-6 ">
                    <div class="refreshInfo">
                    </div>
                </div>
            </div>
        </div>

    {# Rss feeds#}
        <div class="row">
            <h4>Top Players</h4>
            <div id ="topScored" class="col-sm-6">
                {{ render(controller('pitaksKickerBundle:Table:bestPlayersForTable', {'tableId':1})) }}
            </div>
            <h4>Foosball news...</h4>
            <div id="rssFeeds" class="col-xs-12 col-sm-6">
                {{ include('pitaksRSSFeedBundle:feedEntries:feedsEntriesList.html.twig') }}
            </div>

        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reservation</h4>
                </div>
                <div class="modal-body">
                    <section id="registarcija" style="min-height: 300px">

                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div id="ratingArea">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <div class="row">
                    <div id="reservationsListArea">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
         $('.calendarClick').click(function(){
             var tableId= $(this).attr('value');
             $.ajax({
                 url:  Routing.generate('tableEveryDayReservations', { 'tableId': tableId}),
                 type: "post",
                 success: function(data){
                     $("#reservationsListArea").html("");
                     $("#reservationsListArea").html(data);
                 },
                 error:function(){
                     $("#reservationsListArea").html('There is error while submit');
                 }
             });
         });

        $('.tableRate').click(function(){
                    var tableId =$(this).val();
                    $.ajax({
                        url:  "{{path('tableRateModal')}}",
                        type: "post",
                        data: ({tableId: tableId}),
                        success: function(data){
                            $("#ratingArea").html("");
                            $("#ratingArea").html(data);
                        },
                        error:function(){
                            $("#ratingArea").html('There is error while submit');
                        }
                    });
                }
        );
        $("#save").prop("disabled",true);
        $('.rezervation').click(function(){
                    $.ajax({
                        url:  "{{path('viewRes')}}",
                        type: "post",
                        data: ({ tableId: $(this).val()}),
                        success: function(data){
                            $("#registarcija").html(data);
                        },
                        error:function(){
                            $("#registracija").html('There is error while submit');
                        }
                    });
                }
        );
       $(document).ready(function(){
           refreshTable();
        });

        function refreshTable(){
            $('.refreshInfo').load('{{  path('tableResult',{'tableId': 1}) }}', function(){
                setTimeout(refreshTable, 5000);
            });

        }
    </script>
{% endblock %}
