{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" >
            Login
        </h2>
    </div>
    <div class="panel-body" style="color:#000000">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       name="_username" value="{{ last_username }}"
                       required="required" placeholder="User Name">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password">
            </div>
        </div>
        <div class="form-group">  <label class=" col-sm-3 col-xs-4 control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}
            </label>
            <div class=" col-sm-8 col-xs-6">

                <div class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
            </div>
        </div>

    </form>
 <a href="{{ path('fos_user_registration_register') }}"> if you are not a member please register</a>
    </div>
</div>
{% endblock fos_user_content %}
