    <table class="table table-hover">
        <tr>
            <th>Team Name</th>
            <th>Created Data</th>
            <th> Users</th>
            <th> Stat </th>
            <th> Actions </th>

            <th> </th>
        </tr>
        {% for team in teamAndFriend %}
            <tr>
                <td> {{ team['team'].name }}</td>
                <td> {{ team['team'].registeredDate|date('Y-m-d  h:m:sa') }}</td>

                <td> <a class="btn btn-default" href="{{ path('userStat', {'username': team['friend'].username}) }}">{{ team['friend'].username}} </a>  </td>
                <td> {% if team['teamStat'] and team['team'].confirmed %}{{ team['teamStat']['plusMinus']|number_format(2) }} {% else %} not available {% endif %}</td>
                {% if team['team'].confirmed == false  %}
                <td> <a class="btn btn-danger" href="{{ path('deleteTeam',{'teamId':team['team'].id}) }}">reject</a>
                </td>
                {% endif %}
                {% if team['team'].confirmed %}
                <td> <a class="btn btn-success" href="{{ path('teamMenu',{'teamId':team['team'].id}) }}">
                        View
                    <span class="badge" style="float:right">
                            {{ render(controller('pitaksTeamBundle:TeamChallenge:getTeamUnconfirmedChallengesCount', {"teamId":team['team'].id})) }}
                        </span>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
