{% extends "::base.html.twig" %}
{% block title %}Create New Team{% endblock %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" >
           Create new team
        </h2>
    </div>
    <div class="panel-body" style="color:#000000">


    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div>
        {{ form_widget(form.save , {'attr': {'class': 'btn bg-danger'}} ) }}
    </div>

    {{ form_end(form) }}

        </div><div>
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-success"> Back to profile</a>
    </div>
    </div>
{% endblock %}