{% extends "::base.html.twig" %}

{% block title %}Team {{ team.name }}{% endblock %}

{% block body %}
<div role="tabpanel">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" >
                        {{ team.name }}
                        <input id="teamId" hidden value="{{ team.id }}">
                    </h2>
                </div>
                <div class="panel-body" style="color:#000000">
                    <p> Created Data: {{ team.registeredDate|date('Y-m-d  h:m:sa')  }}</p>
                    <p> {% for user in team.users %}
                        {%  if( user.image) %}
                        <img class="profileIMGTeam" src="{{ asset( user.image.getImageAddress() )  }}">
                    {% else %}
                        <img class="profileIMGTeam" src="{{ asset('images/anonymous.png') }}">
                    {% endif %}
                            {{ user.username }}
                        {% endfor %}
                    </p>
                </div>
            </div>

            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active">
                    <a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab">Challenges
                        <span class="badge" style="float:right">
                            {{ render(controller('pitaksTeamBundle:TeamChallenge:getTeamUnconfirmedChallengesCount', {"teamId":team.id})) }}
                        </span>
                    </a></li>
                <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Stats</a></li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="col-sm-8">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="stats">
                    <h2>Team stat:</h2>
                    <div id="teamStats">
                       {{ render(controller('pitaksTeamBundle:TeamStats:showAllTeamStatistic',{'teamId': team.id} )) }}
                    </div>
                    <h2>Team Stat for each table:</h2>
                    <div id="teamEachTableStat">
                        {{ render(controller('pitaksTeamBundle:TeamStats:showEachStatsForTable',{'teamId': team.id} )) }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="challenges">
                    <div id="challengeView">
                    <button id="challengeMaker" class="btn btn-danger">create a challenge</button>
                        <h2>Received Challenges</h2>
                        <div id="recievedTeamChallenges">
                            {{ render(controller('pitaksTeamBundle:TeamChallenge:showReceivedChallengesTeams',{'teamId': team.id} )) }}
                        </div>
                        <h2>Your team Challenges</h2>
                        <div id="confirmedTeamChallenges">
                            {{ render(controller('pitaksTeamBundle:TeamChallenge:showConfirmedChallengesTeams',{'teamId': team.id} )) }}
                        </div>
                        <h2>Your suggested challenges</h2>
                        <div id="sendedTeamChallenges">
                            {{ render(controller('pitaksTeamBundle:TeamChallenge:showSendedChallengesTeams',{'teamId': team.id} )) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <script src="{{ asset('bundles/pitaksteam/js/teamMenu.js')}}">

    </script>
{% endblock %}