<style>
    img
    {
        max-height: 200px;
        max-width: 200px;
    }

</style>
<p> news : {{ pagination.getTotalItemCount }}</p>
<table class="table">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Date', 'a.date') }}</th>
                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
            </tr>
            {% for feedentry in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ feedentry.date|date("Y/m/d H:i") }}</td>
                <td><h5><strong>{{ feedentry.title }}</strong></h5>
                    <h6 class="description">{{ feedentry.description }}</h6>
                <a href="{{ feedentry.link }}">more</a></td>
            </tr>
            {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
<script>
    var descriptionArray = $('.description').toArray();
    for ( var i = 0; i < descriptionArray.length; i++ )
    {
        var tektas =$(descriptionArray[ i]).text();
        $(descriptionArray[i]).html(tektas);
    }
</script>