<style>
    img
    {
        max-height: 100px;
        max-width: 100px;
    }
</style>
<table class="table">
            <tr align="right">
                <th align="left">{{ knp_pagination_sortable(pagination, 'Sort by Date', 'a.date') }}</th>
            </tr>
            {% for feedentry in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><h5><strong>{{ feedentry.title }}</strong> {{ feedentry.date|date("Y/m/d H:i") }}</h5>
                    <h6 class="description">{{ feedentry.description }}</h6>
                <a href="{{ feedentry.link }}">more</a></td>
            </tr>
            {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <script src="{{ asset('bundles/pitaksrssfeed/js/rssFeedJs.js') }}"></script>

