{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <div class="ui-widget">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div> {% if users|length > 0 %}
    <h2>User list </h2>
    <table  class="table" >
    <tr>
        <th> username </th>
        <th> name</th>
        <th> win </th>
        <th> score </th>
        <th> +/- </th>
        <th> rank</th>
        {% if app.user %}
            <th> CHOOSE </th>
        {% endif %}
    </tr>

    {% for user in users %}
        <tr>
            <td>
                <span class="btn" rel="popover" data-img="{{ asset(user['userImage']) }}">{{ user["username"] }}</span>
           </td>
            <td> {{ user["name"] }} </td>
            <td> {{ user["win"]}}</td>
            <td> {{ user["scored"] }}</td>
            <td> {{ user["plusMinus"] }} <a href="{{ path('userStat', {'username': user["username"]}) }}">more...</a></td>
            <td> {% if user["rank"] %} {{ user["rank"] }} {% else %} not ranked {% endif %}</td>
            {% if app.user %}
                <td>
                    <a class="btn btn-success" value="{{ user["username"]  }}" name="users" href="{{ path('userChallengeMain', {'username': user["username"] }) }}">challenge</a>
                    <a class="btn btn-success" value="{{ user["username"]  }}" name="users" href="{{ path('createTeam', {'userId': user["userId"] }) }}">Create a team</a>
                </td>
            {% endif %}
          </tr>
    {% endfor %}
        </table>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
    {% else %}
        no results
    {% endif %}
    <script src="{{ asset('bundles/user/js/userImagepopover.js') }}">
</script>
    <script src="{{ asset('bundles/user/js/userIndex.js') }}">
    </script>
{% endblock fos_user_content %}