{% extends "::base.html.twig" %}

{% block title %}Comment form{% endblock %}
{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.comment) }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}