   <div class="tableFormat">
    {% if tableStatus  %}
        <div class="row">
            <div class="row ">
                <div class="col-xs-5 tableLeftSide">
                    {% if team1 %}
                        <div class="team-name">{{ team1.name}}</div>
                    {% else %}
                      <br/>
                    {% endif %}
                    <div class="player-card">
                    {% if user11 %}
                        {%  if( user11.image) %}
                            <img class="table-user-photo row" src="{{ asset( user11.image.getImageAddress() )  }}">
                            <span class="player-name row"> {{ user11.username }}</span>
                        {% else %}
                            <img class="table-user-photo row" src="{{ asset('images/anonymous.png') }}">
                            <span class="player-name row"> {{ user11.username }}</span>
                        {% endif %}
                    {% else %}
                        <img class="table-user-photo row"  src="{{ asset('images/anonymous.png') }}">
                        <span class="player-name row">  anonymous</span>
                    {% endif %}
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-5">
                    {% if team2 %}
                     <div class="team-name">{{ team2.name}}</div>
                    {% else %}
                        <br/>
                    {% endif %}
                    <div class="player-card">
                    {% if user21 %}
                        {%  if( user21.image) %}
                            <img class="table-user-photo row" src="{{ asset( user21.image.getImageAddress() )  }}">
                            <span class="player-name row">{{ user21.username }}</span>
                        {% else %}
                            <img class="table-user-photo row" src="{{ asset('images/anonymous.png') }}">
                            <span class="player-name row">{{ user21.username }}</span>
                        {% endif %}
                    {% else %}
                        <img class="table-user-photo row" src="{{ asset('images/anonymous.png') }}">
                            <span class="player-name row"> anonymous</span>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4 tableCenterSide">
                   <span class="score">{{  game.scoreTeam1}} : {{ game.scoreTeam2}}</span>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 tableLeftSide">
                    <div class="player-card">
                {% if user12 %}
                    {%  if( user12.image) %}
                        <img class="table-user-photo row" src="{{ asset( user12.image.getImageAddress() )  }}">
                        <span class="player-name row">{{ user12.username }}</span>
                    {% else %}
                        <img class="table-user-photo row " src="{{ asset('images/anonymous.png') }}">
                        <span class="player-name  row">{{ user12.username }}</span>
                    {% endif %}
                    {% else %}
                        <img class="table-user-photo row" src="{{ asset('images/anonymous.png') }}">
                        <span class="player-name row">anonymous</span>
                {% endif %}
                    </div>
                </div>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-5">
                    <div class="player-card">
                    {% if user22 %}
                        {%  if( user22.image) %}
                            <img class="table-user-photo row" src="{{ asset( user22.image.getImageAddress() )  }}">
                            <span class="player-name row">{{ user22.username }}</span>
                        {% else %}
                            <img class="table-user-photo row" src="{{ asset('images/anonymous.png') }}">
                            <span class="player-name row">{{ user22.username }}</span>
                        {% endif %}
                    {% else %}
                        <img class="table-user-photo row" src="{{ asset('images/anonymous.png') }}">
                        <span class="player-name row">anonymous</span>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% else %}
    <div class="tableCenterSide ">
        <span class="score">FREE</span>
    </div>
{% endif %}
