{% extends "::base.html.twig" %}

{% block title %}Challenge{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-offset-1 col-sm-4">
                <div class="challengeUserView well well-lg btn-success"><h2>{{ myteam.name }}</h2>
                    <div>
                    <input id="myteamId"hidden value="{{ myteam.id }}">
                    <input id="friendTeamId"hidden value="{{friend.id }}">
                        {% for user in myteam.users %}
                            {{ user.name }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-1 ">
                 <button class="btn btn-primary center-block">   <span id="challengeOk" style="font-size: 56pt;
                 color :#00CC00;" class="glyphicon glyphicon-ok"></span></button>
            </div>
            <div class="col-sm-4">
                <div class="challengeUserView  well well-lg btn-danger"><h2>{{ friend.name }}</h2>
                    <div>
                        {% for user in friend.users %}
                            {{ user.name }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <button id="anotherTable" class="btn btn-success " style="display: none;"> Choose another table</button>
            <div id="tableListForReservation">
                <h3> Tables </h3>

                <table class="table table-hover" >

                    <tr>
                        <th>Table name</th>
                        <th>Table address</th>
                        <th>Table rank </th>
                        <th></th>
                    </tr>
                    {% for table in tables %}
                        <tr>
                            <td> {{ table.name }}</td>
                            <td> {{ table.address }}</td>
                            <td> {{ table.getTableRate() }}
                            </td>
                            <td>
                                <button id="challengeButton" class="reservation btn btn-success" value="{{ table.id }}">Choose</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="teamChallengeMenu" class="well-lg">
                </div>
            </div>
        </div>

    <script src="{{ asset('bundles/pitaksteam/js/teamChallenge.js') }}">

    </script>

{% endblock %}