{% if firstReservation  %}
            <input hidden id="NextReservationTime" value="{{ firstReservation|date("H:i:s") }}">
            <div id="nextTime">
            </div>
        {% if isUserReservation %}
            <table class="table bg-success" >
                <tr>
                    <th id="firstTime">{{ userReservations[0].reservationStart|date("H:i") }} </th>
                    <th >{{ userReservations[0].reservationEnd|date("H:i") }} </th>
                    <th >vs
                    {% if userReservations[0].userId == app.security.getToken().getUser().getUsername() %}
                        {{ userReservations[0].friendId }}
                    {%else %}
                        {{ userReservations[0].userId}}
                    {% endif  %}
                    </th>
                </tr>
            </table>
        {% else  %}
            <table class="table bg-success" >
                <tr>
                    <td id="firstTime">{{ userTeamsReservations[0].reservationStart|date("H:i") }} </td>
                    <td >{{ userTeamsReservations[0].reservationEnd|date("H:i") }} </td>

                </tr>
            </table>
        {% endif %}
    {% endif  %}
<h3> User reservations</h3>
    <table class="table">
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Table</th>
        </tr>
        {% for res in userReservations %}
        <tr>
            <td> {{ res.reservationStart|date("Y/m/d H:i") }}</td>
            <td> {{ res.reservationEnd|date("Y/m/d H:i") }}</td>
            <td>{{ res.reservations.first().tableId.name }} </td>
        </tr>
        {% endfor %}
    </table>
<h3>User's teams reservations</h3>
    <table class="table">
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Table</th>
        </tr>{% for res in userTeamsReservations %}
        <tr>
            <td> {{ res.reservationStart|date("Y/m/d H:i") }}</td>
            <td> {{ res.reservationEnd|date("Y/m/d H:i") }}</td>
            <td>{{ res.reservations.first().tableId.name }} </td>
        </tr>
        {% endfor %}
    </table>
    <script src="{{ asset('bundles/user/js/Timer.js') }}">
    </script>
