{% if firstReservation  %}
            <input hidden id="NextReservationTime" value="{{ firstReservation|date("H:i:s") }}">
            <div id="nextTime">

            </div>
        {% if isUserReservation %}
            <table class="table bg-success" >
                <tr>
                    <th id="firstTime">{{ userReservations[0].reservationStart|date("H:i") }} </th>
                    <th >{{ userReservations[0].reservationEnd|date("H:i") }} </th>
                    <th >vs
                    {% if userReservations[0].userId == app.security.getToken().getUser().getUsername() %}
                        {{ userReservations[0].friendId }}
                    {%else %}
                        {{ userReservations[0].userId}}
                    {% endif  %}
                    </th>
                </tr>
            </table>
        {% else  %}
            <table class="table bg-success" >
                <tr>
                    <th id="firstTime">{{ userTeamsReservations[0].reservationStart|date("H:i") }} </th>
                    <th >{{ userTeamsReservations[0].reservationEnd|date("H:i") }} </th>

                </tr>
            </table>
        {% endif %}
    {% endif  %}
<h2>Upcoming Today  User reservations</h2>
    <table class="table">
        <tr>
            <th>Start</th>
            <th>End</th>
        </tr>{% for res in userReservations %}
        <tr>
            <th> {{ res.reservationStart|date("Y/m/d H:i") }}</th>
            <th> {{ res.reservationEnd|date("Y/m/d H:i") }}</th>
        </tr>
        {% endfor %}
    </table>
<h2>Upcoming User's teams reservations</h2>
    <table class="table">
        <tr>
            <th>Start</th>
            <th>End</th>

        </tr>{% for res in userTeamsReservations %}
        <tr>
            <th> {{ res.reservationStart|date("Y/m/d H:i") }}</th>
            <th> {{ res.reservationEnd|date("Y/m/d H:i") }}</th>
        </tr>
        {% endfor %}
    </table>
    <script>
        $( document ).ready(function() {
                    window.setInterval(function(){
                        timeDown();
                    }, 1000);
                }
           );
            function timeDown() {
                var reservationTime = $('#NextReservationTime').val();
                // alert(new Date(reservationTime).getTime());
                var dt = new Date();
                var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                var day = dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate() + " ";
                var day2 = new Date(day + reservationTime);
                var milliseconds = (dt.getTime() - day2.getTime());
                var mydate = new Date(milliseconds);
                var humandate = mydate.getUTCHours() + " hours, " + mydate.getUTCMinutes() + " minutes and " + mydate.getUTCSeconds() + " second(s)"
                $('#nextTime').text(humandate);
            }
    </script>
