    <h2> Your Unconfirmed reservations </h2>
    <table id="userReservationTable" class="table table-hover" >
        <tr>
            <th>Table</th>
            <th>Start Date </th>
            <th>End Date </th>
            <th>Friend </th>
            <th> </th>
            <th> </th>
        </tr>
        {% for record in reservations %}
            <tr >
                {i
                <td> {{ record['tableName'] }} </td>
                <td> {{ record['startDate'] }} </td>
                <td> {{ record['endDate'] }} </td>
                {% if record['friend'] is null %}
                    <td> No competitor</td>
                {% else %}
                    <td> {{ record['friend']}} </td>
                {% endif %}
                <td><span  class=" acceptRegisteredReservation glyphicon glyphicon-ok" style="cursor: pointer"value="{{ record['id'] }}"></span> </td>
                <td><span  class=" removeRegisteredReservation glyphicon glyphicon-remove" style="cursor: pointer"value="{{ record['id'] }}"></span> </td>

            </tr>
        {% endfor %}
    </table>
    <script src="{{ asset('bundles/user/js/deleteAcceptReservations.js') }}">
    </script>