<table class="table">
    <tr>
        <th>Date</th>
        <th>Mach duration</th>
        <th>Competitor</th>
        <th>Colleague</th>
        <th>Score</th>
    </tr>
    {% for game in games %}
    {% if  game['myResult'] > game['enemyResult'] %}
    <tr class="bg-success">
        {% else %}
    <tr class="bg-danger">
    {% endif %}
        <td>{{ game['gameDate']|date('Y/m/d H:i') }}</td>
        <td>{{ game['gameDuration'] }}</td>
        <td>
            {%if game['competitor1'] is not null  %}
            {{ game['competitor1'].username }}
             {% else %}
                anonymous
            {% endif %}
            {% if game['competitor2'] is not null  %}
            {{ game['competitor2'].username }}
            {% else %}
                anonymous
            {% endif %}</td>
        <td> {% if game['friend'] is not null  %}
                {{ game['friend'].username }}
            {% else %}
                anonymous
            {% endif %}</td>

            {% if  game['myResult'] > game['enemyResult'] %}
                <td class="bg-success"> {{ game['myResult'] }}: {{game['enemyResult']  }}</td>
            {% else %}
                <td class="bg-danger"> {{ game['myResult'] }}: {{game['enemyResult']  }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<script>
</script>